@font-face {
  font-family: 'meteocons';
  src: url('meteocons.eot@43059573');
  src: url('meteocons.eot@43059573') format('embedded-opentype'),
       url('meteocons.woff@43059573') format('woff'),
       url('meteocons.ttf@43059573') format('truetype'),
       url('meteocons.svg@43059573') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-meteocons-']:before,
[class*=' icon-meteocons-']:before {
    font-family: 'meteocons';
}

.icon-meteocons-windy-rain-inv:before { content: '\e800'; }
.icon-meteocons-clouds-flash:before { content: '\e82e'; }
.icon-meteocons-snow-heavy-inv:before { content: '\e802'; }
.icon-meteocons-hail-inv:before { content: '\e803'; }
.icon-meteocons-clouds-inv:before { content: '\e804'; }
.icon-meteocons-clouds-flash-inv:before { content: '\e805'; }
.icon-meteocons-temperature:before { content: '\e806'; }
.icon-meteocons-compass:before { content: '\e807'; }
.icon-meteocons-na:before { content: '\e808'; }
.icon-meteocons-celcius:before { content: '\e809'; }
.icon-meteocons-fahrenheit:before { content: '\e80a'; }
.icon-meteocons-clouds-flash-alt:before { content: '\e80b'; }
.icon-meteocons-sun-inv:before { content: '\e80c'; }
.icon-meteocons-moon-inv:before { content: '\e80d'; }
.icon-meteocons-cloud-sun-inv:before { content: '\e80e'; }
.icon-meteocons-cloud-moon-inv:before { content: '\e80f'; }
.icon-meteocons-cloud-inv:before { content: '\e810'; }
.icon-meteocons-cloud-flash-inv:before { content: '\e811'; }
.icon-meteocons-drizzle-inv:before { content: '\e812'; }
.icon-meteocons-rain-inv:before { content: '\e813'; }
.icon-meteocons-windy-inv:before { content: '\e814'; }
.icon-meteocons-sunrise:before { content: '\e815'; }
.icon-meteocons-sun:before { content: '\e816'; }
.icon-meteocons-snow-inv:before { content: '\e801'; }
.icon-meteocons-eclipse:before { content: '\e818'; }
.icon-meteocons-mist:before { content: '\e819'; }
.icon-meteocons-wind:before { content: '\e81a'; }
.icon-meteocons-snowflake:before { content: '\e81b'; }
.icon-meteocons-cloud-sun:before { content: '\e81c'; }
.icon-meteocons-cloud-moon:before { content: '\e81d'; }
.icon-meteocons-fog-sun:before { content: '\e81e'; }
.icon-meteocons-fog-moon:before { content: '\e81f'; }
.icon-meteocons-fog-cloud:before { content: '\e820'; }
.icon-meteocons-fog:before { content: '\e821'; }
.icon-meteocons-cloud:before { content: '\e822'; }
.icon-meteocons-cloud-flash:before { content: '\e823'; }
.icon-meteocons-cloud-flash-alt:before { content: '\e824'; }
.icon-meteocons-drizzle:before { content: '\e825'; }
.icon-meteocons-rain:before { content: '\e826'; }
.icon-meteocons-windy:before { content: '\e827'; }
.icon-meteocons-windy-rain:before { content: '\e828'; }
.icon-meteocons-snow:before { content: '\e829'; }
.icon-meteocons-snow-alt:before { content: '\e82a'; }
.icon-meteocons-snow-heavy:before { content: '\e82b'; }
.icon-meteocons-hail:before { content: '\e82c'; }
.icon-meteocons-clouds:before { content: '\e82d'; }
.icon-meteocons-moon:before { content: '\e817'; }